body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
/*barra rede sociais*/

.menu-principal{
    background-color: #252323;
    height: 60px;
}

.header-1{
    display: flex;
    align-items: center;
}

.logo{
    width: 75%;
}

.logo img{
    padding-left: 16px;
}
.rede-sociais ul{
    padding-left: 35px;
}
.rede-sociais ul li{
    display: inline-block;
    margin-left: 25px;
}

/* header 2 menu */

.menu-urls{
    display: flex;
    align-items: center;
    height: 80px;
}
.reader-2{
    width: 70%;
}
.menu ul{
    padding-left: 0;
}
.menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.menu ul li a:hover{
    color: #00bac6;
    border-bottom: 3px solid #00bac6;
}
/* bustar input*/
.busca{
    width: 30%;
}

.busca input{
    width: 190px;
    height: 35px;
    float: right;
    border: 1px solid #d6d6d6;
    padding-left: 10px;
    background-image: url("/img/search.png");
    background-repeat: no-repeat;
    background-position: 96%;
}

.cont-borda{
    border-bottom: 3px solid #efefef;
}

/*Slider */

.col-100{
    width: 100%;
    position: relative;
}

/*setas slider*/
.slider-pincipal{
    height: 455px;
}

.slick-prev{
    font-size: 0;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url("../img/arrow-esq.png");
    position: absolute;
    z-index: 9;
    top: 45%;
    left: 13.2%;
}

.slick-next {
    font-size: 0;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url("../img/arrow-dir.png");
    position: absolute;
    z-index: 9;
    top: 45%;
    right: 13.2%;

}

/* botões */
.slick-dots{
    width: 50%;
    position: absolute;
    margin: 0 auto;
    top: 89%;
    left: 42%;
}

.slick-dots li{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 13px;
}

.slick-dots li button{
    font-size: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: transparent;
}

.slick-dots li.slick-active {
    background-color: #00bac6;
}

/* texto */
.texto-destaque{
    text-align: center;
    height: 100%;
    max-height: 455px;
}

.texto-destaque h1{
    font-size: 30px;
    font-weight: 400;
    color: #818181;
}

.texto-destaque > p{
    color: #b8b8b8;
    font-size: 15px;
    font-weight: 300;
}

/* imformativo */
.col-3{
    width: 33%;
    float: left;
    margin-top: 20px;
}

.bloco-destaque > h3{
    font-size: 20px;
    font-weight: 300;
    color: #7b7b7b;
}

.bloco-destaque > h3 b{
    font-weight: 600;
}

.bloco-destaque > P {
    font-size: 12px;
    font-weight: 400;
    color: #9a9a9a;
}

/*grid de fotos e texto*/
.bloco-img-texto{
    background-color: #eeeeee;
}

.img-6{
    border: 1px solid #c5c5c5;
    width: 310px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 17px;
}

.img-6:last-child, .img-6:nth-child(3){
    margin-right: 0;
}
.img-6 img{
    width: 100%;
    height: 194px;
}

.bloco-img{
    padding-top: 15px;
    padding-bottom: 40px;
}
/*picedo elemento*/

.bloco-img-texto::before{
    content: '';
    width: 100%;
    display: inline-block;
    height: 51px;
    background-color: #fff;
    background-image: url("/img/seta-img.png");
    background-position: center;
    background-repeat: no-repeat;
}

/*parte final 1 logo marcas*/
.col-4 {
    float: left;
}



/*footer-1*/

.footer-1{
    height: 415px;
}


/* footer-2 */
.footer-2 {
    height: 88px;
}