body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.menu-principal{
    background-color: #252323;
    height: 60px;
   
}

main {
    width: 980px;
    margin: 0 auto;
}

.header-1{
    width: 100%;
}

.logo{
    float: left;
    width: 70%;
    padding-top: 19px;
}

.rede-sociais{
    width: 25%;
    float: right;

}

.rede-sociais ul li{
    display: inline-block;
    margin-left: 26px;
}
